<nz-code-box
  nzTitle="{{title}}"
  [nzId]="'components-{{component}}-demo-{{key}}'"
  nzSelector="nz-demo-{{component}}-{{key}}"
  [nzLink]="'components-{{component}}-demo-{{key}}'"
  nzGenerateCommand="{{nzGenerateCommand}}"
  nzComponentName="{{componentName}}"
  nzIframeSource="{{iframeSource}}"
  [nzIframeHeight]="{{iframeHeight}}"
  [nzHref]="'https://github.com/chengdonghaipu/supine/edit/master/projects/{{component}}/demo/{{key}}.md'">
	<nz-demo-{{component}}-{{key}} demo></nz-demo-{{component}}-{{key}}>
	<div intro ngNonBindable>
		{{doc}}
	</div>
</nz-code-box>
